@charset "UTF-8";
@-webkit-keyframes float {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, -8px, 0px);
            transform: translate3d(0px, -8px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
  50% {
    -webkit-transform: translate3d(0px, -8px, 0px);
            transform: translate3d(0px, -8px, 0px);
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

body {
  color: #151923;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 28px;
}

.container {
  margin: 0 auto;
  max-width: 1340px;
}

section {
  padding: 0 80px;
}

@media screen and (max-width: 800px) {
  section {
    padding: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  section {
    padding: 0 20px;
  }
}

header {
  background: #151923;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px;
  position: relative;
}

@media screen and (max-width: 800px) {
  header .container {
    padding: 40px 20px;
  }
}

header #brand {
  font-size: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 660px) {
  nav {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: none;
  }
}

nav a {
  color: #808ba8;
  margin-left: 40px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

#menu-button {
  background: #00ce7c url("/img/menu.svg") center center no-repeat;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 660px) {
  #menu-button {
    display: block;
  }
}

#menu-checkbox {
  display: none;
}

input[type="email"] {
  background: #edf0f5;
  border: 0;
  border-radius: 4px;
  color: #151923;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
}

input[type="email"]:focus {
  -webkit-box-shadow: inset 0px 0px 0px 2px #c0c5d4;
          box-shadow: inset 0px 0px 0px 2px #c0c5d4;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808ba8;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808ba8;
  opacity: 1;
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808ba8;
  opacity: 1;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808ba8;
  opacity: 1;
}

.button {
  background: #00ce7c;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
}

#hero {
  background: #151923;
  color: #edf0f5;
  overflow: hidden;
  padding-bottom: 80px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  #hero {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  #hero {
    padding-bottom: 20px;
  }
}

#hero #messaging {
  max-width: 580px;
  width: 100%;
  margin: 80px 0 120px;
}

@media screen and (max-width: 1000px) {
  #hero #messaging {
    margin: 0 0 80px;
  }
}

@media screen and (max-width: 600px) {
  #hero #messaging {
    margin: 0;
  }
}

#hero h1 {
  color: #fff;
  font-size: 40px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #hero h1 {
    font-size: 28px;
  }
}

#hero p {
  color: #808ba8;
  margin: 16px 0 28px;
}

#hero form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 16px 16px 16px 28px;
}

@media screen and (max-width: 400px) {
  #hero form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

#hero form span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

#hero #registration-button {
  margin-left: 28px;
}

@media screen and (max-width: 400px) {
  #hero #registration-button {
    margin: 16px 0 0;
  }
}

#animation {
  max-width: 580px;
  width: 100%;
  bottom: 0;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1000px) {
  #animation {
    max-width: 1180px;
    width: 100%;
    bottom: auto;
    height: 320px;
    left: 0;
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  #animation {
    display: none;
  }
}

#animation .reference {
  -webkit-animation: float 4s ease-in-out infinite;
          animation: float 4s ease-in-out infinite;
  background: #edf0f5;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #151923;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  position: absolute;
  -webkit-transition: background-colour 0.2s;
  transition: background-colour 0.2s;
}

#animation .reference:hover {
  background: #fff;
}

#animation .company {
  font-weight: 600;
}

#animation .badge {
  position: absolute;
  right: 8px;
  top: 8px;
}

#animation .tenure {
  color: #808ba8;
  font-size: 14px;
  font-weight: 600;
}

#animation .feedback {
  font-size: 14px;
  margin-top: 2px;
}

#animation #worker,
#animation .branch {
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

@media screen and (max-width: 1000px) {
  #animation #worker,
  #animation .branch {
    -webkit-transform: translate(-50%, -50%) translateY(40px);
            transform: translate(-50%, -50%) translateY(40px);
  }
}

@media screen and (max-width: 850px) {
  #animation #worker,
  #animation .branch {
    left: 80%;
    -webkit-transform: translate(-50%, -50%) translateY(40px);
            transform: translate(-50%, -50%) translateY(40px);
  }
}

#animation .branch {
  background: #303644;
  height: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 2px;
}

#animation #branch-1 {
  -webkit-transform: rotate(-80deg) scaleX(100);
          transform: rotate(-80deg) scaleX(100);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@media screen and (max-width: 1000px) {
  #animation #branch-1 {
    -webkit-transform: translateY(40px) rotate(-45deg) scaleX(100);
            transform: translateY(40px) rotate(-45deg) scaleX(100);
  }
}

@media screen and (max-width: 850px) {
  #animation #branch-1 {
    -webkit-transform: translateY(40px) rotate(-120deg) scaleX(100);
            transform: translateY(40px) rotate(-120deg) scaleX(100);
  }
}

#animation #branch-2 {
  -webkit-transform: rotate(45deg) scaleX(120);
          transform: rotate(45deg) scaleX(120);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@media screen and (max-width: 1220px) {
  #animation #branch-2 {
    -webkit-transform: rotate(70deg) scaleX(100);
            transform: rotate(70deg) scaleX(100);
  }
}

@media screen and (max-width: 1000px) {
  #animation #branch-2 {
    -webkit-transform: translateY(40px) rotate(25deg) scaleX(80);
            transform: translateY(40px) rotate(25deg) scaleX(80);
  }
}

@media screen and (max-width: 850px) {
  #animation #branch-2 {
    -webkit-transform: translateY(40px) rotate(172deg) scaleX(140);
            transform: translateY(40px) rotate(172deg) scaleX(140);
  }
}

#animation #branch-3 {
  -webkit-transform: rotate(145deg) scaleX(60);
          transform: rotate(145deg) scaleX(60);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@media screen and (max-width: 1000px) {
  #animation #branch-3 {
    -webkit-transform: translateY(40px) rotate(165deg) scaleX(65);
            transform: translateY(40px) rotate(165deg) scaleX(65);
  }
}

@media screen and (max-width: 850px) {
  #animation #branch-3 {
    display: none;
  }
}

#animation #ref-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  max-width: 380px;
  width: 100%;
  right: 80px;
  top: 20px;
}

@media screen and (max-width: 1000px) {
  #animation #ref-1 {
    top: 0;
    right: 0;
  }
}

#animation #ref-2 {
  bottom: 184px;
  left: -80px;
  max-width: 280px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  #animation #ref-2 {
    bottom: 40px;
    left: 0;
  }
}

#animation #ref-3 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  bottom: 80px;
  max-width: 280px;
  width: 100%;
  right: 0;
}

@media screen and (max-width: 1220px) {
  #animation #ref-3 {
    right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  #animation #ref-3 {
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 850px) {
  #animation #ref-3 {
    display: none;
  }
}

#features {
  background-position: right center;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-bottom: 120px;
  padding-top: 120px;
}

@media screen and (max-width: 600px) {
  #features {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

#features h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 auto 8px;
}

#features p {
  color: #808ba8;
  font-size: 16px;
  margin: 0;
}

#features img {
  margin: -1px 12px 0 0;
  vertical-align: middle;
}

#key-features {
  background-color: #edf0f5;
  border-radius: 4px;
  padding-bottom: 80px;
  padding-top: 80px;
}

@media screen and (max-width: 900px) {
  #key-features {
    padding-top: 80px;
  }
}

#key-features .grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
  #key-features .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #key-features .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#key-features h2 {
  color: #808ba8;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0 auto 40px;
  text-align: center;
  text-transform: uppercase;
}

#key-features h3 {
  margin: 0 0 4px;
}

#key-features p {
  color: #808ba8;
  font-size: 16px;
  margin: 0;
}

#key-features img {
  display: block;
  margin: 0 0 16px 0;
}

#recent-articles {
  background: #151923;
  padding-bottom: 80px;
  padding-top: 80px;
}

#recent-articles .container {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #recent-articles .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#recent-articles:hover .post a:not(:hover) {
  color: #808ba8;
}

#recent-articles a {
  color: #edf0f5;
  text-decoration: none;
}

#recent-articles h2 {
  font-size: 24px;
  font-weight: 400;
}

#recent-articles time {
  color: #808ba8;
  display: block;
  margin-top: 12px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 40px;
}

@media screen and (max-width: 600px) {
  .post {
    display: block;
    padding: 0 0 40px 0;
  }
  .post:first-of-type {
    padding-top: 40px;
  }
}

.post a {
  -webkit-transition: color 0.8s, -webkit-transform 0.2s;
  transition: color 0.8s, -webkit-transform 0.2s;
  transition: color 0.8s, transform 0.2s;
  transition: color 0.8s, transform 0.2s, -webkit-transform 0.2s;
}

.post a:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.post h2 {
  margin: 0;
}

#call-to-action {
  background: #00ce7c;
  color: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}

#call-to-action a {
  background: #151923;
  color: #fff;
}

footer {
  background: #151923;
  color: #fff;
  font-size: 14px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 80px;
}

@media screen and (max-width: 800px) {
  footer .container {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px;
  }
}

footer #brand {
  float: left;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  footer #brand {
    display: none;
  }
}

footer a {
  color: #808ba8;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

footer a:hover {
  color: #edf0f5;
}


#legal {
  text-align: left;
}

#legal a {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  #legal a {
    margin: 20px 10px 10px 20px;
  }
}

.footer-logo {
    display: block;
    margin-left: 100px;
    margin-right: 50px;
   width: 170px;
   height: 52px;
  margin: 0px 20px 0px 60px;
}

#social-links {
  text-align: right;
}

@media screen and (max-width: 600px) {
  #social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

#social-links a {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  #social-links a {
    margin: 20px 10px 10px 20px;
  }
}

#social-links a:first-of-type {
  margin-left: 0;
}

#registration-modal {
  padding: 20px;
}

#registration-form {
  background: #fff;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  left: 50%;
  padding: 28px;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999;
}

@media screen and (max-width: 476px) {
  #registration-form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 16px;
    right: 16px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: auto;
  }
}

#registration-form h2 {
  margin: 0;
}

#registration-form p {
  color: #808ba8;
  margin: 12px 0 20px;
}

#registration-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 476px) {
  #registration-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#registration-form form button {
  margin-left: 4px;
}

@media screen and (max-width: 476px) {
  #registration-form form button {
    margin: 4px 0 0;
  }
}

#registration-overlay {
  background: rgba(21, 25, 35, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.hide {
  display: none;
}

#privacy-policy #hero {
  padding-bottom: 0;
}

#privacy-policy .content {
  background: #fff;
  overflow: hidden;
  padding-bottom: 80px;
}

#privacy-policy h1 {
  font-size: 40px;
  margin: 80px 0;
}

#privacy-policy h2 {
  margin-top: 40px;
}

#privacy-policy p a,
#privacy-policy ul a {
  background: rgba(128, 139, 168, 0.2);
  border-radius: 4px;
  color: #151923;
  font-weight: 600;
  overflow-wrap: break-word;
  padding: 2px 4px;
  text-decoration: none;
  word-wrap: break-word;
}

#privacy-policy p a:hover,
#privacy-policy ul a:hover {
  background: rgba(128, 139, 168, 0.4);
}

#privacy-policy ul {
  font-size: 18px;
  line-height: 28px;
}

#privacy-policy li {
  margin-top: 12px;
}

.promo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8375d;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  height: 60px;
  padding: 0;
  text-align: center;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

@media screen and (max-width: 476px) {
  .promo {
    -webkit-animation: none;
            animation: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 20px;
  }
}

.promo .button {
  background: #151923;
  margin-left: 20px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 476px) {
  .promo .button {
    margin: 12px auto 0;
  }
}

.promo .button:hover {
  padding-right: 48px;
}

.promo .button:hover:after {
  opacity: 1;
  right: 20px;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out 0.16s;
  transition: all 0.3s ease-in-out 0.16s;
}

.promo .button:after {
  content: "🚀";
  opacity: 0;
  position: absolute;
  right: 32px;
  top: 8px;
  -webkit-transition: none;
  transition: none;
}

#privacy-policy #hero {
  padding-bottom: 0;
}

#privacy-policy .content {
  background: #fff;
  overflow: hidden;
  padding-bottom: 80px;
}

#privacy-policy h1 {
  font-size: 40px;
  margin: 80px 0;
}

#privacy-policy h2 {
  margin-top: 40px;
}

#privacy-policy p a,
#privacy-policy ul a {
  background: rgba(128, 139, 168, 0.2);
  border-radius: 4px;
  color: #151923;
  font-weight: 600;
  overflow-wrap: break-word;
  padding: 2px 4px;
  text-decoration: none;
  word-wrap: break-word;
}

#privacy-policy p a:hover,
#privacy-policy ul a:hover {
  background: rgba(128, 139, 168, 0.4);
}

#privacy-policy ul {
  font-size: 18px;
  line-height: 28px;
}

#privacy-policy li {
  margin-top: 12px;
}

#about #hero {
  padding-bottom: 0;
}

#about #mission {
  font-size: 40px;
  padding-top: 80px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  #about #mission {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  #about #mission {
    font-size: 18px;
    line-height: 28px;
    padding-top: 40px;
  }
}

#about #mission span {
  color: #808ba8;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

#about #story {
  line-height: 28px;
  padding-bottom: 80px;
}

#about #story ul {
  padding: 20px;
}

#about #story ul li {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 12px;
}

#about #story span {
  color: #808ba8;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

#team-photo {
  width: 100%;
}

.team,
.advisors {
  padding-bottom: 120px;
  padding-top: 120px;
}

@media screen and (max-width: 600px) {
  .team,
  .advisors {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.team .grid,
.advisors .grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1000px) {
  .team .grid,
  .advisors .grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .team .grid,
  .advisors .grid {
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.team .member h3,
.advisors .member h3 {
  margin: 20px 0 4px;
}

.team .member p,
.team .member span,
.advisors .member p,
.advisors .member span {
  color: #808ba8;
  font-size: 14px;
}

.team .member p,
.advisors .member p {
  line-height: 22px;
}

.team .member img,
.advisors .member img {
  border-radius: 4px;
  display: block;
  width: 100%;
}

.advisors {
  padding-bottom: 120px;
  padding-top: 0;
}

@media screen and (max-width: 600px) {
  .advisors {
    padding-bottom: 40px;
  }
}

input[type="checkbox"]:checked + nav {
  z-index: 1;
}

@media screen and (max-width: 660px) {
  input[type="checkbox"]:checked + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    right: 0;
    position: absolute;
    top: 100%;
  }
  input[type="checkbox"]:checked + nav a {
    background: #151923;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 16px 20px;
  }
}

.highlight {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 16px;
  margin: 0;
}

#token #utility .grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

#token #related-media {
  margin: 80px auto;
}

#token #related-media .grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.download {
  background: #edf0f5;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #151923;
  padding: 16px;
  text-decoration: none;
}

.download:hover {
  -webkit-box-shadow: inset 0 0 0 2px #c0c5d4;
          box-shadow: inset 0 0 0 2px #c0c5d4;
}

.download .title {
  display: block;
}

.download .meta {
  font-size: 12px;
  font-weight: 600;
}

.banner {
  background: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
}

.banner .title {
  display: block;
}

#history {
  padding: 80px 0;
}

#exchanges {
  padding: 80px 0;
}

#exchanges .grid {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

#exchanges .grid a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #151923;
  border-radius: 4px;
  color: #edf0f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  text-align: center;
  text-decoration: none;
}

#exchanges .grid h3 {
  margin: 0 16px 0;
}

@media screen and (max-width: 900px) {
  #exchanges .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #exchanges .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#exchanges #risk-warning {
  background: #808ba8;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  margin: 20px 0;
  padding: 12px 16px;
}
/*# sourceMappingURL=master.css.map */
